<div class="container-fluid">

    <!-- Cabecera -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">REGLAS PROGRAMACIÓN ORDENES</h1>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <!-- Titulo Formulario -->
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Parámetros Generación Ordenes Alimentos</h6>
                </div>
                <!-- Cuerpo Formulario -->
                <div class="card-body">
                    <!--formulario-->
                    <div id="accordion" class="mb-2 text-muted">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-2 text-muted">
                                    <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h5 class="mb-2 text-muted">Niños</h5>
                                      </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Proteínas(Kg)</span>
                                                <input type="text" class="form-control"  >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Lacteos(Lt)</span>
                                                <input type="text" class="form-control"  >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Frutas(Kg)</span>
                                                <input type="text" class="form-control" >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Cereales(kg)</span>
                                                <input type="text" class="form-control"  >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Grasas(kg)</span>
                                                <input type="text" class="form-control" >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Dulces(kg)</span>
                                                <input type="text" class="form-control"  >
                                              </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <hr class="sidebar-divider my-0 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-2 text-muted">
                                    <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <h5 class="mb-2 text-muted">Adultos</h5>
                                      </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Proteínas(Kg)</span>
                                                <input type="text" class="form-control" >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Lacteos(Lt)</span>
                                                <input type="text" class="form-control"  >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Frutas(Kg)</span>
                                                <input type="text" class="form-control"  >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Cereales(kg)</span>
                                                <input type="text" class="form-control"  >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Grasas(kg)</span>
                                                <input type="text" class="form-control"  >
                                              </div>
                                        </div>
                                        <!--input-->
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Dulces(kg)</span>
                                                <input type="text" class="form-control"  >
                                              </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
