<div class="container-fluid">

    <!-- Cabecera -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">REGLAS DE PORCIONES</h1>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <!-- Titulo Formulario -->
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Porciones Asignadas por Categoría</h6>
                </div>
                <!-- Cuerpo Formulario -->
                <div class="card-body">
                    <!--formulario nuevo-->
                    <form  [formGroup]="registerForm">
                        <ng-container formArrayName="categoriasForm">
                            <mat-accordion class="example-headers-align">
                                <ng-container *ngFor="let element of categoriasForm.controls; let i = index" >
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header class="border border-white">
                                            <mat-panel-title>
                                                <mat-icon class="mx-2">face</mat-icon>
                                                {{element.get('categoria_persona_nombre')?.value}}
                                            </mat-panel-title>
                                            
                                        </mat-expansion-panel-header>
                                        <div class="row" [formGroupName]="i">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-end mb-2">
                                                <button type="button" class="btn btn-secondary btn-sm" (click)="cargarModal(element.get('categoria_persona_id')?.value,element.get('categoria_persona_nombre')?.value)"
                                                data-bs-toggle="modal" data-bs-target="#myModal">Agregar</button>
                                            </div>
                                                <div class="row">
                                                    <div class="col-md-4" *ngFor="let producto of element.get('categorias_productos')?.value; let j = index">
                                                        <div class="input-group">
                                                            <span class="input-group-text">{{ producto.cat_pro_nombre }} (gr)</span>
                                                            <input type="text" [id]="'x'+producto.porciones_id" class="form-control" [value]="producto.porciones_cantidad" (change)="actualizarValor(producto.porciones_id)">
                                                          </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </ng-container>
                            </mat-accordion>
                        </ng-container>
                    </form>
                    <!--formulario nuevo-->
                    
                    
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Añadir Porciones Alimentos para {{nombreSelectCategoria}}.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Categoría:</span>
                            <select class="form-select bg-white text-dark" [(ngModel)]="selectCatProducto" [size]="4">
                                <option value="0" [disabled]="true">Seleccione..</option>
                                <option *ngFor="let cat of listaCatProductos" [value]="cat.cat_pro_id">
                                    {{cat.cat_pro_nombre}}
                                  </option>
                            </select>
                          </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cantidad (gr)</span>
                            <input type="number" class="form-control" [(ngModel)]="cantidadCatProducto">
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" [disabled]="botonDeshabilitado()" (click)="agregarNuevaPorcion()">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
   <!--End Modal -->

</div>
