<div class="container-fluid">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
                                                        

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">CATEGORÍAS</h1>
        <a class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Atrás</a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <nav>
            <div class="nav nav-tabs " id="nav-tab" role="tablist">
              <button class="nav-link mat-elevation-z8 active" id="nav-categoria-personas-tab" data-bs-toggle="tab"
                data-bs-target="#nav-categoria-personas" type="button" role="tab">PERSONAS</button>
              <button class="nav-link mat-elevation-z8" id="nav-categoria-productos-tab" data-bs-toggle="tab" 
                data-bs-target="#nav-categoria-productos" type="button" role="tab">PRODUCTOS</button>
              <button class="nav-link mat-elevation-z8" id="nav-categoria-subproductos-tab" data-bs-toggle="tab" 
                data-bs-target="#nav-categoria-subproductos" type="button" role="tab">SUBCATEGORIA PRODUCTOS</button>
            </div>
          </nav>

          <div class="tab-content mat-elevation-z8" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-categoria-personas" role="tabpanel">
                <div class="card mat-elevation-z8">
                    <!-- ========== Start Section Categorias Personas========== -->
                    <div class="container-fluid">
                        <div class="d-flex flex-row-reverse pt-2">
                            <a  class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm align-self-end "  (click)="resetForm()">Crear Nuevo</a>
                        </div>                      
                        <div class="row">                           
                            <div class="col-lg-4 mb-4">
                                <div class="card shadow mb-4">                                 
                                    <div class="card-header py-3 bg-secondary">
                                        <h6 class="m-0 font-weight-bold text-white">Listado</h6>
                                    </div>
                                    <div class="card-body">
                                        <div *ngIf="true">
                                            <div class="mb-2 ">
                                                <input type="text" class="form-control bg-light border-1 small shadow-lg p-3 bg-white rounded" 
                                                placeholder="Buscar..." aria-label="Search" (keyup)="applyFilter($event)">
                                            </div>
                                            <table  mat-table [dataSource]="dataSource" matSort matSortActive="created"> 
                                                <!-- nombre  Column -->
                                                <ng-container matColumnDef="categoriaNombre">
                                                     <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
                                                    <td mat-cell *matCellDef="let element"><a (click)="verCategoriaPersonaData(element.id)">{{element.categoriaNombre}}</a></td>
                                                  </ng-container>
                                                  <ng-container matColumnDef="id">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                                   <td mat-cell *matCellDef="let element">
                                                    <a (click)="eliminar()">
                                                        <span class="material-symbols-outlined align-self-center"> delete</span>
                                                    </a></td>
                                                 </ng-container>
                
                                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                            <div class="table_footer">
                                                <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator>
                                              </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 mb-8">
                                <div *ngIf="isFormVisible" class="card shadow mb-4">
                                    <div class="card-header py-3 bg-secondary">
                                        <h6 class="m-0 font-weight-bold text-white">Información Categoria de Persona: {{selectCategoriaPersona}}</h6>
                                    </div>
                                    <div class="card-body">
                                        <!--formulario-->
                                        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                                            <div class="row">
                                                <!--nombre-->
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Nombre Categoría</span>
                                                        <input type="text" class="form-control"  formControlName="categoria_nombre">
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="row">                      
                                                <!--Descripcion-->
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Descripción</span>
                                                        <textarea type="text" rows="4" class="form-control" formControlName="categoria_descripcion"></textarea>
                                                    </div>
                                                 
                                                </div>
                                            
                                            </div>
                                            
                                            
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid" (click)="guardar()">Guardar</button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                    <!-- ========== End Section Categorias Personas========== -->
                  </div>
            </div>

            <div class="tab-pane fade" id="nav-categoria-productos" role="tabpanel">
                <div class="card mat-elevation-z8">
                    <!-- ========== Start Section Categorias Productos========== -->
                    <div class="container-fluid">
                        <div class="d-flex flex-row-reverse pt-2">
                            <a  class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm align-self-end "  (click)="resetFormCategoriaProducto()">Crear Nuevo</a>
                        </div>                      
                        <div class="row">                           
                            <div class="col-lg-4 mb-4">
                                <div class="card shadow mb-4">                                 
                                    <div class="card-header py-3 bg-secondary">
                                        <h6 class="m-0 font-weight-bold text-white">Listado</h6>
                                    </div>
                                    <div class="card-body">
                                        <div *ngIf="true">
                                            <div class="mb-2 ">
                                                <input type="text" class="form-control bg-light border-1 small shadow-lg p-3 bg-white rounded" 
                                                placeholder="Buscar..." aria-label="Search" (keyup)="applyFilter($event)">
                                            </div>
                                            <table  mat-table [dataSource]="dataSourceCategoriaProducto" matSort matSortActive="created"> 
                                                <!-- nombre  Column -->
                                                <ng-container matColumnDef="categoriaNombre">
                                                     <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
                                                    <td mat-cell *matCellDef="let element"><a (click)="verCategoriaProductoData(element.id)">{{element.categoriaNombre}}</a></td>
                                                  </ng-container>
                                                  <ng-container matColumnDef="id">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                                   <td mat-cell *matCellDef="let element">
                                                    <a (click)="eliminar()">
                                                        <span class="material-symbols-outlined align-self-center"> delete</span>
                                                    </a></td>
                                                 </ng-container>
                
                                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                            <div class="table_footer">
                                                <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator>
                                              </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 mb-8">
                                <div *ngIf="isFormVisible" class="card shadow mb-4">
                                    <div class="card-header py-3 bg-secondary">
                                        <h6 class="m-0 font-weight-bold text-white">Información Categoria de Producto: {{selectCategoriaProducto}}</h6>
                                    </div>
                                    <div class="card-body">
                                        <!--formulario-->
                                        <form (ngSubmit)="onSubmit()" [formGroup]="registerFormCategoria">
                                            <div class="row">
                                                <!--nombre-->
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Nombre Categoría</span>
                                                        <input type="text" class="form-control"  formControlName="categoria_nombre">
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="row">                      
                                                <!--Descripcion-->
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Descripción</span>
                                                        <textarea type="text" rows="4" class="form-control" formControlName="categoria_descripcion"></textarea>
                                                    </div>
                                                 
                                                </div>
                                            
                                            </div>
                                            
                                            
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-success" [disabled]="registerFormCategoria.invalid" (click)="guardar()">Guardar</button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!-- ========== End Section Categorias Productos========== -->
                  </div>
            </div>

            <div class="tab-pane fade" id="nav-categoria-subproductos" role="tabpanel">
                <div class="card mat-elevation-z8">
                    <!-- ========== Start Section SubCategorias Productos========== -->
                    <div class="container-fluid">
                        <div class="d-flex flex-row-reverse pt-2">
                            <a  class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm align-self-end "  (click)="resetFormSubCategoriaProducto()">Crear Nuevo</a>
                        </div>                      
                        <div class="row">                           
                            <div class="col-lg-4 mb-4">
                                <div class="card shadow mb-4">                                 
                                    <div class="card-header py-3 bg-secondary">
                                        <h6 class="m-0 font-weight-bold text-white">Listado</h6>
                                    </div>
                                    <div class="card-body">
                                        <div *ngIf="true">
                                            <div class="mb-2 ">
                                                <input type="text" class="form-control bg-light border-1 small shadow-lg p-3 bg-white rounded" 
                                                placeholder="Buscar..." aria-label="Search" (keyup)="applyFilter($event)">
                                            </div>
                                            <table  mat-table [dataSource]="dataSourceSubCategoriaProducto" matSort matSortActive="created"> 
                                                
                                                <ng-container matColumnDef="subcategoriaNombre">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Categoria</th>
                                                   <td mat-cell *matCellDef="let element"><a (click)="verSubCategoriaProductoData(element.id)">{{element.subcategoriaNombre}}</a></td>
                                                 </ng-container>
                                                 
                                                <ng-container matColumnDef="categoriaNombre">
                                                     <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
                                                    <td mat-cell *matCellDef="let element"><a>{{element.categoriaNombre}}</a></td>
                                                  </ng-container>

                                                  <ng-container matColumnDef="id">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                                   <td mat-cell *matCellDef="let element">
                                                    <a (click)="eliminar()">
                                                        <span class="material-symbols-outlined align-self-center"> delete</span>
                                                    </a></td>
                                                 </ng-container>
                
                                                  <tr mat-header-row *matHeaderRowDef="displayedColumnsSubProduct"></tr>
                                                  <tr mat-row *matRowDef="let row; columns: displayedColumnsSubProduct;"></tr>
                                            </table>
                                            <div class="table_footer">
                                                <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator>
                                              </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 mb-8">
                                <div *ngIf="isFormVisible" class="card shadow mb-4">
                                    <div class="card-header py-3 bg-secondary">
                                        <h6 class="m-0 font-weight-bold text-white">Información Sub Categoria de Producto: {{selectSubCategoriaProducto}}</h6>
                                    </div>
                                    <div class="card-body">
                                        <!--formulario-->
                                        <form (ngSubmit)="onSubmit()" [formGroup]="registerFormSubCategoria">
                                            <div class="row">
                                                <!--nombre-->
                                                <div class="col-md-6">
                                                    <div class="input-group mb-6">
                                                        <span class="input-group-text">Nombre</span>
                                                        <input type="text" class="form-control"  formControlName="sub_categoria_nombre">
                                                      </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Categoría</span>
                                                        <select class="form-select bg-white text-dark" formControlName="categoria_nombre">
                                                            <option value="" [disabled]="true" >Seleccione..</option>
                                                        <option *ngFor="let tipo of categoriaProductos" [value]="tipo.categoriaNombre">
                                                            {{tipo.categoriaNombre}}
                                                        </option>
                                                        </select>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="row">                      
                                                <!--Descripcion-->
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Descripción</span>
                                                        <textarea type="text" rows="4" class="form-control" formControlName="categoria_descripcion"></textarea>
                                                    </div>
                                                 
                                                </div>
                                            
                                            </div>
                                            
                                            
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-success" [disabled]="registerFormSubCategoria.invalid" (click)="guardar()">Guardar</button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!-- ========== End Section SubCategorias Productos========== -->
                  </div>
            </div>

          </div>
        
    </div>

    <!-- Content Row -->

    <div class="row">
        <div class="col-lg-12 mb-4">
            
        </div>
        

        
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Card  
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">BENEFICIARIOS</h6>
                </div>
                <div class="card-body">
                    
                </div>
            </div>-->

            

        </div>

        <div class="col-lg-6 mb-4">

            <!-- Card 
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">DONANTES</h6>
                </div>
                <div class="card-body">

                    
                    
                </div>
            </div>-->


        </div>
    </div>

</div>

