<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">CATEGORÍAS</h1>
        <a class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Atrás</a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <nav>
            <div class="nav nav-tabs " id="nav-tab" role="tablist">
              <button class="nav-link mat-elevation-z8 active" id="nav-categoria-personas-tab" data-bs-toggle="tab"
                data-bs-target="#nav-categoria-personas" type="button" role="tab">PERSONAS</button>
              <button class="nav-link mat-elevation-z8" id="nav-categoria-productos-tab" data-bs-toggle="tab" 
                data-bs-target="#nav-categoria-productos" type="button" role="tab">PRODUCTOS</button>
            </div>
          </nav>

          <div class="tab-content mat-elevation-z8" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-categoria-personas" role="tabpanel">
                <div class="card mat-elevation-z8">
                    <!-- ========== Start Section Categorias Personas========== -->
                    <div class="container-fluid">
                        <div class="row">
                            <p>Contenido Personas</p>
                        </div>
                        
                    </div>
                    <!-- ========== End Section Categorias Personas========== -->
                  </div>
            </div>

            <div class="tab-pane fade" id="nav-categoria-productos" role="tabpanel">
                <div class="card mat-elevation-z8">
                    <!-- ========== Start Section Categorias Productos========== -->
                    <div class="container-fluid">
                        <div class="row">
                            <p>Contenido Productos</p>
                        </div>
                    </div>
                    <!-- ========== End Section Categorias Productos========== -->
                  </div>
            </div>

          </div>
        
    </div>

    <!-- Content Row -->

    <div class="row">
        <div class="col-lg-12 mb-4">
            
        </div>
        

        
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Card  
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">BENEFICIARIOS</h6>
                </div>
                <div class="card-body">
                    
                </div>
            </div>-->

            

        </div>

        <div class="col-lg-6 mb-4">

            <!-- Card 
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">DONANTES</h6>
                </div>
                <div class="card-body">

                    
                    
                </div>
            </div>-->


        </div>
    </div>

</div>

