<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">BENEFICIADOS</h1>
        <a  class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Crear Nuevo</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        
    </div>

    <!-- Content Row -->

    <div class="row">
        <!--<div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Development Approach</h6>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>-->
        

        
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-4 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Listado Beneficiados</h6>
                </div>
                <div class="card-body">
                    
                </div>
            </div>

            

        </div>

        <div class="col-lg-8 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Información del Beneficiado</h6>
                </div>
                <div class="card-body">
                    
                </div>
            </div>


        </div>
    </div>

</div>



