<div class="container-fluid">

    

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">BENEFICIADOS</h1>
        <a  class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm" (click)="resetForm()">Crear Nuevo</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        
    </div>

    <!-- Content Row -->

    <div class="row">
         
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-4 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Listado Beneficiados</h6>
                </div>
                <div class="card-body">
                    <div *ngIf="listaBeneficiados.length>0">
                        <div class="mb-2 ">
                            <input type="text" class="form-control bg-light border-1 small shadow-lg p-3 bg-white rounded" 
                            placeholder="Buscar..." aria-label="Search" (keyup)="applyFilter($event)">
                        </div>
                        <table mat-table [dataSource]="dataSource" matSort matSortActive="created">
                            <!-- nombre  Column -->
                            <ng-container matColumnDef="nombreBeneficiado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                                <td mat-cell *matCellDef="let element"><a (click)="verBeneficiadoData(element.beneficiado_id)">{{element.beneficiado_nombre}}</a></td>
                              </ng-container>

                              <!-- tipo Column -->
                            <ng-container matColumnDef="actividad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</th>
                                <td mat-cell *matCellDef="let element"> {{element.beneficiado_actividad}} </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div class="table_footer">
                            <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator>
                          </div>
                        </div>
                    <h3 *ngIf="listaBeneficiados.length==0" class="text-dark">No hay Beneficiarios para mostrar</h3>
                </div>
            </div>

            

        </div>

        <div class="col-lg-8 mb-4">

            <!-- data -->
            <div *ngIf="isFormVisible" class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Información Institución Beneficiada : {{selectBeneficiado}}</h6>
                </div>
                <div class="card-body">
                    <!--formulario-->
                    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                        <div class="row">
                            <!--nombre-->
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Nombre Institución</span>
                                    <input type="text" class="form-control"  formControlName="beneficiado_nombre">
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <!--Actividad-->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Actividad</span>
                                    <input type="text" class="form-control"  formControlName="beneficiado_actividad">
                                  </div>
                            </div>
                            <!--restringido-->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Ultima Entrega</span>
                                    <input type="text" class="form-control" [readOnly]="true"  formControlName="beneficiado_ultima_entrega">
                                  </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            
                            <!--periocidad-->
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Periocidad</span>
                                    <select class="form-select bg-white text-dark" formControlName="beneficiado_periodo">
                                        <option value="" [disabled]="true" >Seleccione..</option>
                                      <option *ngFor="let tipo of periocidad" [value]="tipo.valor">
                                        {{tipo.etiqueta}}
                                      </option>
                                    </select>
                                  </div>
                            </div>
                            <!--dias-->
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Día</span>
                                    <select class="form-select bg-white text-dark" formControlName="beneficiado_dia_entrega">
                                        <option value="" [disabled]="true" >Seleccione..</option>
                                      <option *ngFor="let tipo of dias" [value]="tipo.valor">
                                        {{tipo.etiqueta}}
                                      </option>
                                    </select>
                                  </div>
                            </div>
                            <!--estado-->
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Estado</span>
                                    <select class="form-select bg-white text-dark" formControlName="beneficiado_estado">
                                        <option value="" [disabled]="true" >Seleccione..</option>
                                        <option *ngFor="let estado of estados" [value]="estado.valor">
                                            {{estado.etiqueta}}
                                          </option>
                                    </select>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <!--personas-->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Representante</span>
                                    <input type="text" class="form-control"  formControlName="beneficiado_representante">
                                  </div>
                            </div>
                            <!--edad-->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Teléfono</span>
                                    <input type="number" class="form-control"  formControlName="beneficiado_telefono">
                                  </div>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Guardar</button>
                            </div>
                        </div>-->
                        
                    </form>
                    
                </div>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <div class="card-body">
                    <h5 class="card-title">
                        Categorías Personas:</h5>
                    <!--Formulario Categorias-->
                    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm2">
                        <ng-container formArrayName="categorias">
                            <mat-accordion class="example-headers-align">
                                <ng-container *ngFor="let registerForm2 of categorias.controls; let i = index" >
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header class="border border-white">
                                            <mat-panel-title>
                                                <mat-icon class="mx-2">face</mat-icon>
                                                {{registerForm2.get('categoria_persona_nombre')?.value}}
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                {{registerForm2.get('cat_persona_beneficiado_cantidad')?.value??0}} - Personas
                                            </mat-panel-description>
                                            
                                        </mat-expansion-panel-header>
                                        <div class="row" [formGroupName]="i">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">Descripción</span>
                                                            <input type="text" [readOnly]="true" class="form-control"  
                                                            formControlName="categoria_persona_descripcion">
                                                          </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <span class="input-group-text">Cantidad</span>
                                                            <input type="number" class="form-control"  
                                                            formControlName="cat_persona_beneficiado_cantidad">
                                                          </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </ng-container>
                            </mat-accordion>
                        </ng-container>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>


        </div>
    </div>

</div>



