.mat-table {
    background-color: white; /* Cambia el fondo a blanco */
    border-collapse: separate;
    border-spacing: 2%;
  }
  
.mat-table td{
    color: gray; /* Cambia el color de texto a gris */
    border-bottom: 1px solid gray;
    padding: 8px; /* Añade un espacio interno a las celdas */
  }

  .mat-table th {
    color: white; /* Cambia el color de texto a gris */
    border-bottom: 1px solid gray;
    font-weight: bold;
    background-color:#006e8c;
    padding: 8px; /* Añade un espacio interno a las celdas */
  }

#eye{
    background-color: white; /* Cambia el fondo a blanco */
}

table {
    width: 100%;
  }

 .scroll-container {
    max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
  }


.mat-column-Ubicacion {
  flex: none;
  width: 15%;
}
.mat-column-Caducidad {
  flex: none;
  width: 10%;
  text-align: center;
}
.mat-column-Descripcion {
  flex: none;
  width: 30%;
}
.mat-column-Lote,.mat-column-UM,.mat-column-Codigo {
  flex: none;
  width: 5%;
}
.mat-column-Proveedor {
  flex: none;
  width: 15%;
}

.mat-column-Stock,.mat-column-Precio_Promedio,.mat-column-Costo_Total{
  flex: none;
  text-align: center;
  width: 5%;
  /*background-color:#e6e9ec; */
}

.mat-column-Stock td{
  color:aqua;
}


