<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">INVENTARIO</h1>
        <!-- Botón para abrir el modal -->
        <a  class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm" data-bs-toggle="modal" data-bs-target="#myModal">Historico Inventarios</a>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Histórico Inventarios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div *ngIf="listaInventarios.length > 0" class="scroll-container">
                <mat-list>
                  <mat-list-item *ngFor="let i of listaInventarios">
                    {{i}}
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </div>
              <h3 *ngIf="listaInventarios.length == 0" class="text-dark">No hay Inventarios para mostrar</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

    
    <!-- Formulario Carga Archivo -->
    <div class="row" *ngIf="datos.length>0">
        <div class="col-lg-12 mb-2">
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Cargar Archivo de Inventario</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!--nombre-->
                        <div class="col-md-12 mb-2">
                            <input type="file" class="file-upload form-control" (change)="seleccionarArchivo($event)" />
                        </div>
                    </div>
                    <div class="row">
                        <!--nombre-->
                        <div class="col-md-12 mb-2">
                            <button type="button" class="btn btn-success" [disabled]="!archivoSeleccionado" (click)="enviarFormulario()">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulario Actualizar Registro-->
    <div class="row">
        <div *ngIf="isFormVisible" class="col-lg-12 mb-2">

            <!-- data -->
            <div  class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary d-flex justify-content-between">
                    <h6 class="m-0 font-weight-bold text-white">Información del Producto: {{selectProducto}}</h6>
                    <button class="btn btn-sm btn-secondary btn-transparent" (click)="resetForm()">x</button>
                </div>
                <div class="card-body">
                    <!--formulario-->
                    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                        <div class="row">
                            <!--nombre-->
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Descripción</span>
                                    <input type="text" class="form-control"  formControlName="Descripcion">
                                  </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            
                            <!--id-->
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Codigo</span>
                                    <input type="text" class="form-control"  formControlName="Codigo">
                                  </div>
                            </div>
                            <!--precio-->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Ubicación</span>
                                    <input type="text" class="form-control"  formControlName="Ubicacion">
                                  </div>
                            </div>
                            <!--peso-->
                            <div class="col-md-2">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Lote</span>
                                    <input type="text" class="form-control"  formControlName="Lote">
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <!--id-->
                            <div class="col-md-8">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Proveedor</span>
                                    <input type="text" class="form-control"  formControlName="Proveedor">
                                  </div>
                            </div>
                            <!--precio-->
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">U/M</span>
                                    <input type="text" class="form-control"  formControlName="UM">
                                  </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <!--Stock-->
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Stock</span>
                                    <input type="number" class="form-control"  formControlName="Stock">
                                  </div>
                            </div>
                            <!--Costo_Total-->
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Costo_Total</span>
                                    <input type="text" class="form-control"  formControlName="Costo_Total">
                                  </div>
                            </div>
                            <!--Precio_Promedio-->
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Precio_Promedio</span>
                                    <input type="text" class="form-control"  formControlName="Precio_Promedio">
                                  </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Content Row -->
    <div class="row">
        <div *ngIf="datos.length>0">
            <div class="col-md-8 col-md-12">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <button class="btn"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="material-icons">tune</span></button>
                        
                        <div class="dropdown-menu" >
                            <a class="dropdown-item" *ngFor="let columna of listaColumnas">
                                <input type="checkbox" [ngModel]="selectedItems.has(columna.id)" (change)="toggleSelection(columna.id)">
                              {{ columna.nombre }}
                            </a>
                          </div>
                        
                    </div>
                    <input type="text" class="form-control" 
                        placeholder="Buscar..." aria-label="Search" (keyup)="applyFilter($event)">
                    
                    <!--<input type="text" class="form-control bg-light border-1 small shadow-lg p-3 bg-white rounded" 
                        placeholder="Buscar..." aria-label="Search" (keyup)="applyFilter($event)">--->
                    
                </div>
                
                
            </div>
            
            <table mat-table [dataSource]="dataSource" matSort matSortActive="created">
                <!-- Column -->
                <ng-container matColumnDef="Codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                    <td mat-cell *matCellDef="let element"><a (click)="verProductoData(element.Codigo)">{{element.Codigo}}</a></td>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="Ubicacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación</th>
                    <td mat-cell *matCellDef="let element"> {{element.Ubicacion}} </td>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="Caducidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Caducidad</th>
                    <td mat-cell *matCellDef="let element"> {{element.Caducidad}} </td>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="Descripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción</th>
                    <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="Lote">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lote</th>
                    <td mat-cell *matCellDef="let element"> {{element.Lote}} </td>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="Proveedor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor</th>
                    <td mat-cell *matCellDef="let element"> {{element.Proveedor}} </td>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="UM">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> U/M</th>
                    <td mat-cell *matCellDef="let element"> {{element.UM}} </td>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="Stock" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock</th>
                    <td mat-cell *matCellDef="let element"> {{element.Stock}} </td>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="Precio_Promedio" *ngIf="listaColumnas[8].mostrar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Promedio</th>
                    <td mat-cell *matCellDef="let element"> {{element.Precio_Promedio}} </td>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="Costo_Total" *ngIf="listaColumnas[9].mostrar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo Total</th>
                    <td mat-cell *matCellDef="let element" > {{element.Costo_Total}} </td>
                </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="table_footer">
                <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator>
              </div>
        </div>
        <h3 *ngIf="datos.length==0" class="text-dark">No se ha cargado el inventario del día</h3>
    </div>

    

</div>




