<div class="container-fluid">
    <div class="d-flex flex-row-reverse pt-2 mb-2">
        <a  class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm align-self-end" (click)="resetForm()">Crear Nuevo</a>
    </div>                      
    <div class="row">                           
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">                                 
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Listado</h6>
                </div>
                <div class="card-body">
                    <div *ngIf="listaCategoriaProductos.length>0">
                        <div class="mb-2 ">
                            <input type="text" class="form-control bg-light border-1 small shadow-lg p-3 bg-white rounded" 
                            placeholder="Buscar..." aria-label="Search" (keyup)="applyFilter($event)">
                        </div>
                        <table mat-table [dataSource]="dataSource">

                            <!-- Column -->
                            <ng-container matColumnDef="categoriaNombre">
                                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let element"><a (click)="verCategoriaProductoData(element.cat_pro_id)">{{element.cat_pro_nombre}}</a></td>
                            </ng-container>

                            <!-- Column -->
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                                <td mat-cell *matCellDef="let element">{{element.cat_pro_descripcion}}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div class="table_footer">
                            <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator>
                         </div>
                    </div>
                    <h3 *ngIf="listaCategoriaProductos.length==0" class="text-dark">No hay nada para mostrar</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-8">
            <div *ngIf="isFormVisible" class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Información Categoria de Producto: {{selectCategoriaProducto}}</h6>
                </div>
                <div class="card-body">
                    <!--formulario-->
                    <form [formGroup]="registerForm">
                        <div class="row">
                            <!--nombre-->
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Nombre Categoría</span>
                                    <input type="text" class="form-control" formControlName="cat_pro_nombre">
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Estado</span>
                                    <select class="form-select bg-white text-dark" formControlName="cat_pro_estado">
                                        <option *ngFor="let estado of estados" [value]="estado.valor">
                                            {{estado.etiqueta}}
                                          </option>
                                    </select>
                                  </div>
                            </div>
                        </div>
                        <div class="row">                      
                            <!--Descripcion-->
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Descripción</span>
                                    <textarea type="text" rows="2" class="form-control" formControlName="cat_pro_descripcion"></textarea>
                                </div>
                             
                            </div>
                        
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-success"  (click)="guardarCategoriaProducto()">Guardar</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
