<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">BIENVENIDO</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        
    </div>

    <!-- Content Row -->

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">ESTADO ACTUAL</h6>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12 chart-container" id="contenedor"> 
                            <canvas #chart id="stockChart"></canvas>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
        </div>
        

        
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Card  
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">BENEFICIARIOS</h6>
                </div>
                <div class="card-body">
                    
                </div>
            </div>-->

            

        </div>

        <div class="col-lg-6 mb-4">

            <!-- Card 
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-secondary">
                    <h6 class="m-0 font-weight-bold text-white">DONANTES</h6>
                </div>
                <div class="card-body">

                    
                    
                </div>
            </div>-->


        </div>
    </div>

</div>
