
.mat-table {
    background-color: white; /* Cambia el fondo a blanco */
    border-collapse: separate;
    border-spacing: 0;
  }
  
.mat-table td{
    color: gray; /* Cambia el color de texto a gris */
    border-bottom: 1px solid gray;
    padding: 8px; /* Añade un espacio interno a las celdas */
  }

  .mat-table th {
    color: white; /* Cambia el color de texto a gris */
    border-bottom: 1px solid gray;
    font-weight: bold;
    background-color:#006e8c;
    padding: 8px; /* Añade un espacio interno a las celdas */
  }

#eye{
    background-color: white; /* Cambia el fondo a blanco */
}

table {
    width: 100%;
  }

  .table_footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-around;
    }

  #download{
    color: #006e8c;
  }

  .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2653d4;
    border-color: #244ec9
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(247, 203, 91, .5)
}

  
  